
.contactList{
display: flex;
flex-direction: column;
width: 100%;
height: 175px;
gap: 10px;
overflow-y: scroll;

}
.contactList::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border: 1px solid rgba(157, 0, 157, 0.178);
    border-radius: 5px;
}

.contactList::-webkit-scrollbar-thumb {
    background-color: rgba(157, 0, 157, 0.178);
    border-radius: 5px;      
    border: 3px solid rgba(157, 0, 157, 0.178);
  }

  .contactListItem {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
  
    padding: 3px 6px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: inset 0 5px 15px 4px rgba(0, 0, 0, 0.2);
  }
  
  .contactItem {
      font-size: 18px;
      transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contactItem:hover, .contactItem:focus{
      font-size: 20px;
  }
  
  .deleteBtn {
    padding-top: 4px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    background-color: transparent;
    align-items: center;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .deleteBtn:hover, .deleteBtn:focus{
      background-color: #9d009d9d;
      border-radius: 50%;
  }